{% extends 'base.html.twig' %}

{% block header %}
<header class="d-flex flex-wrap justify-content-between mb-4 border-bottom">
  <a class="d-flex align-items-center" href="/"><img src="images/logo_klein.png" alt="logo"></a>
  <form class="d-flex align-items-center" action="/logout" method="post">
    <button class="btn btn-primary" type="submit">Logout</button>
  </form>
</header>
{% endblock %}

{% block navigation %}
<navigation class="col-md-3" style="width: 280px;">
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="/" class="nav-link active" aria-current="page">
          <i class="bi-table pe-none me-2" width="16" height="16"></i>
          Dashboard
        </a>
      </li>
      <li>
        <a href="/orders" class="nav-link link-body-emphasis">
          <i class="bi-cart4 pe-none me-2" width="16" height="16"></i>
          Orders
        </a>
      </li>
      <li>
        <a href="/products" class="nav-link link-body-emphasis">
          <i class="bi-tools pe-none me-2" width="16" height="16"></i>
          Products
        </a>
      </li>
      <li>
        <a href="/customers" class="nav-link link-body-emphasis">
          <i class="bi-building-fill pe-none me-2" width="16" height="16"></i>
          Customers
        </a>
      </li>
      <li>
        <a href="/invoicing" class="nav-link link-body-emphasis">
          <i class="bi-cash-coin pe-none me-2" width="16" height="16"></i>
          Invoicing
        </a>
      </li>
      <li>
        <a href="/tickets" class="nav-link link-body-emphasis">
          <i class="bi-ticket pe-none me-2" width="16" height="16"></i>
          Tickets
        </a>
      </li>
      <li>
        <a href="/users" class="nav-link link-body-emphasis">
          <i class="bi-person-square pe-none me-2 width="16" height="16"></i>
          Users
        </a>
      </li>
      <li>
        <a href="/pbx" class="nav-link link-body-emphasis">
          <i class="bi-telephone pe-none me-2" width="16" height="16"></i>
          PBX
        </a>
      </li>
    </ul>
</navigation>
{% endblock %}